#app {
  nav {
    position: fixed;
    top: 2%;
    left: 20%;
    width: 60%;
    z-index: 2;
    .logo {
      width: 35px;
    }
    .links {
      width: 200px;
    }
  }
}

img {
  width: 100%;
  object-fit: cover;
}

.full-size {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.flex-box {
  display: flex;
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.distribute {
    justify-content: space-between;
  }
  .center {
    align-items: center;
  }
}
